<plugin 
	heading="{{ heading }}"
	last-updated="lastGet"
	on-refresh="getData()"
	info="{{ info }}">

	<div class="animate {{expression}}" >
		<table class="key-value-list">
			<tbody>
					<input ng-click="start()" type="button" value="start">
					<input ng-click="stop()" type="button" value="stop">
					<input ng-click="restart()" type="button" value="restart">
			</tbody>
		</table>
		
	</div>

	<no-data ng-show="emptyResult"></no-data>
</plugin>
