	<div class="animate {{expression}}" ng-controller="loginController">
		<table class="key-value-list">
			<tbody>	
					<h1>User Login</h1>
					<label>username</label>
					<input type="text" name="password" ng-model="username"><br>
					<label>password</label>
					<input type="password" name="password" ng-model="password"><br>
					<input ng-click="submit()" type="button" value="submit"><br>

			</tbody>
		</table>
		
	</div>

